<%- include('../partials/header'); %>
<body>
  <div class="wrapper shadow">
  <h1>Team</h1>
        <hr>
    <section class="content">
       <h3>Edit</h3>
    <form method="POST" action="/team/<%- team._id %>" enctype="application/x-www-form-urlencoded">
      <input type="hidden" name="_method" value="PATCH">
      <label for="name">Teamname: </label>
      <input type="text" id="name" name="name" value="<%- team.name %>">
      <input style="margin-top: 20px; "class="waves-effect waves-light btn" type="submit">
    </form>
    <br>
    <form method="POST" action="/team/<%- team._id %>" enctype="application/x-www-form-urlencoded">
      <input type="hidden" name="_method" value="DELETE">
      <input class="waves-effect waves-light btn" type="submit" value="Delete">
    </form>
  </section>

<%- include('../partials/footer') %>
