<%- include('../partials/header'); %>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/timepicker@1.11.12/jquery.timepicker.css">
<body>
  <div class="wrapper shadow">
  <h1>Match</h1>
        <hr>
    <section class="content">
       <h3>create</h3>
    <form action="/match" method="POST">
      <label for="name">Match: </label>
      <input type="text" id="roundIdentifier" name="roundIdentifier" placeholder="Round Identifier..">
      <input type="text" id="location" name="location" placeholder="Platz..">
      <div class="input-field">
      <select class="browser-default" name="team1" id="team2">
        <option value="" disabled selected>Choose your option</option>
        <% teams.forEach((team) => { %>
          <option value="<%- team._id %>"><%- team.name %></option>
        <% }) %>
      </select>
      </div>
      <select class="browser-default" name="team2" id="team2">
        <% teams.forEach((team) => { %>
          <option value="<%- team._id %>"><%- team.name %></option>
        <% }) %>
      </select>
      <div class="row">
        <input type="text" id="timepicker" name="startingTime">
        <input class="waves-effect waves-light btn" type="submit">
      </div>
    </form>
  </section>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/timepicker@1.11.12/jquery.timepicker.js"></script>
  <script src="/assets/js/timeedit.js" type="text/javascript"></script>

<%- include('../partials/footer') %>
