<%- include('../partials/header'); %>

<body>
  <div class="wrapper shadow">
  <h1>Match</h1>
        <hr>
    <section class="content">
       <h3>Edit</h3>
  <form method="POST" action="/match/<%- match._id %>" enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="_method" value="PATCH">
    <label for="name">Match: </label>
    <input type="text" id="roundIdentifier" name="roundIdentifier" value="<%- match.roundIdentifier %>">
    <input type="text" id="location" name="location" value="<%- match.location %>">
    <select class="" name="team1" id="team2">
      <% teams.forEach((team) => { %>
        <option value="<%- team._id %>"
        <% if (String(team._id) == String(match.team1._id)) {%>
          selected
        <% } %>
        ><%- team.name %></option>
      <% }) %>
    </select>
    <select class="" name="team2" id="team2">
      <% teams.forEach((team) => { %>
        <option value="<%- team._id %>"
        <% if (String(team._id) == String(match.team2._id)) {%>
          selected
        <% } %>
        ><%- team.name %></option>
      <% }) %>
    </select>
    <input type="submit">
  </form>
  <form method="POST" action="/match/<%- match._id %>" enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">
  </form>
</section>
  
<%- include('../partials/footer') %>
