<div>
  <strong><%- match.roundIdentifier %></strong> > <%- match.team1.name %> vs. <%- match.team2.name %> - <a href="/match/<%- match._id %>/edit">edit</a><br />
  Platz: <%- match.location %>
  <hr>
</div>
