<div class="match-entry">
	<hr>
	<h3 class="blue link"><a href="/match/<%- match._id %>/edit"><%- match.roundIdentifier %> | <%- match.team1Goals %>:<%- match.team2Goals %></a></h3>
	<span data-finished="<%- match.finished %>" data-running="<%- match.running %>" class="status"></span>
		<ul class="match-name">
		<li class="team1"><%- match.team1.name %></li>
		<li class="vs">vs</li>
		<li class="team2"><%- match.team2.name %></li>
	</ul>
	<hr>
	<div class="location">
		Platz: <%- match.location %>
	</div>
	Platz: <%- match.location %> | <button data-id="<%- match._id %>" onClick="copyToClipboard(this)">Copy Referee Link</button>
</div>
