<div class="match-entry">
	<hr>
	<h3 class="blue"><%- match.roundIdentifier %> | <%- match.team1Goals %>:<%- match.team2Goals %> </h3>
	<ul class="match-name">
		<span data-finished="<%- match.finished %>" data-running="<%- match.running %>" class="status"></span>
		<li class="team1"><%- match.team1.name %></li>
		<li class="vs">vs</li>
		<li class="team2"><%- match.team2.name %></li>
	</ul>
	<hr>
	Platz: <%- match.location %>
</div>